// Duration.
$fast-transition    : 0.2s;
$medium-transition  : 0.3s;
$long-transition    : 0.6s;

// Font properties
$base-f-size: 16px;
$raleway: 'Raleway', sans-serif;
$openSans: 'Open Sans', sans-serif;
$notoSerif: 'Noto Serif', serif;
$josefinSans: 'Josefin Sans', sans-serif;
$pacifico:  'Pacifico', cursive;;

// Descriptive color variables
$white            : #fff;
$cyan             : #0DC9F7;
$black            : #000;
$wild-sand        : #f5f5f5;
$woodsmoke        : #121619;
$success          : #17c25c;
$error            : #DF1D37;
$crimson          : crimson;
$shark            : #20222B;

$cerulean         : #01BAEF;
$navyblue         : #03254E;

$feijoa           : #00A388;
$gunmetal         : #2D3047;

$hibiscus         : #673FB4;
$carol            : #F61067;
$groovy           : #2EBD59;

$ecstasy          : #1FDA9A;
$electric         : #A310C5;

$veryblue         : #2747D8;
$rosy             : #F45B69;

$hotpink          : #FF338A;
$hotgreen         : #14AE4E;

$hotblue          : #009DDC;
$mirage           : #131623;

$eerie            : #00CCD6;
$yello            : #FF6A22;

$sunflower        : #84C318;
$stary            : #1E91D6;

$flame            : #C5283D;
$yellowgreen      : #97BF07;

$violet           : #690FCB;
$cray             : #2771FC;

$blue            : #0040C1;
$kiwi            : #83E050;


// Social icons color;
$facebook: #3b5999;
$twitter: #55acee;
$tumblr: #34465d;
$linkedin: #0077B5;
$skype: #00AFF0;
$dropbox: #007ee5;
$wordpress: #21759b;
$vimeo: #1ab7ea;
$vk:#4c75a3;
$yahoo:#410093;
$g-plus:#dd4b39;
$pinterest: #bd081c;
$youtube:#cd201f;
$stumbleupon:#eb4924;
$reddit:#ff5700;
$vine: #00b489;
$dribbble:#ea4c89;
