@media only screen and (max-width: 320px) {
    .main-logo {
        max-width: 120px;
    }
}

@media only screen and (max-width: 480px){
    .main-logo {
        max-width: 120px;
    }
}

body{
    background: black;
}

#leftSide.color{
    background: #ffffff;
}

#home .h-content {
    position: relative;
    z-index: 0;
    top: 30vh;
    color: #333; }

.social_tab p {
    color: #333;
}

.social_tab .social_icons {
    color: #333;
}

.social_tab .social_icons li i{
    color: #333;
}

/* ------------------------------------- */
/* Clients ................... */
/* ------------------------------------- */
.clients {
    width: 100%;
    padding: 10% 8%;
    background: #121619;
    margin-bottom: 64px;
}
.clients .client {
    text-align: center;
    padding: 20px 0; }
